.logo-section{
	background-color:#F3333B;
    height: auto; 
}

.logo {
	max-width: 500px;
	opacity: 0;
	display: block;
	margin: 0 auto;
}

.js-logo-animate {
	-webkit-animation:logo-fade 3s linear 1 forwards;
}

@-webkit-keyframes logo-fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
