html {
    background-color: #fff;
}

dialog {
    border: 2px solid #000;
    border-radius: 8px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

dialog::backdrop {
    background-color: rgba(0,255,0,0.5);
}

dialog + .backdrop {
    background-color: rgba (0,0,0,0.5);
}

#btn-close {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    text-align: center;
    line-height: 24px;
    border: 2px solid #fff;
    background-color: #000;
    color: #fff;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    padding: 0;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: -16px;
    right: -16px;
}
